.body{
    background-color: #002633;
    text-align: center;
}

#buttonEditors{
    text-align: center;
    background-color: #002633;
    color: white;
}

#textSpace{
    text-align: center;
    background-color: white;
}

.container{
    text-align: center;
    background-color: #002633;
}